



.form input[type="date"],.form input[type="text"],	
.form select{
	
	font-family: "Segoe UI", Arial, sans-serif;
	padding:10px;
	width:100%;
	border:none;
	height:50px;	
	line-height:50px;
	color:#757575;
	
}
::placeholder {
	color :#757575;
}
.form .half {
    float: left;
    width: 48%;
	margin-right:4%
}
.form .half.last{
	margin-right:0%;	
}
.form input[type="submit"]{
	border:none;
	padding:10px;
	background:#FFFFFF;
	color:#757575;
	cursor:pointer;
}


body { 
	background: #009688;/*#054586;*/
	color: #fff;
	font-size: 1em;
	font-family: "Segoe UI", Arial, sans-serif;
	margin:0;
	padding:0;
	padding-bottom:40px;
}
a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover, a:focus {
	color: #333;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

button {
	outline: none;
}
 

.header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.header h1 {
	margin: 0;
	font-weight: 200;
	font-size: 2.5em;
	line-height: 1.3;
}


.top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.75em;
	line-height: 3.2;
}

.top a {
	display: inline-block;
	padding: 0 1.5em;
	text-decoration: none;
	letter-spacing: 1px;
}

.top span.right {
	float: right;
}

.wrapper{
	margin:0 auto;	
	width:500px;	
}



