

.nav-img {
    width: 30px;
    height: 30px;
    position: relative;
    top: -3px;
}

.user-img {
    max-height: 100px;
    max-width: 100px;
    position: relative;
    top: -40px;
    border-radius: 50%;
}
