#b {
    position: fixed;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#formsection{
    
    border-radius: 15%;
    background-color: rgba(0,0,0,0.5);
    padding-bottom:10px; 

}

#lb {
    margin-left: 105px;
    margin-right: 60%;
}

#i2,
#i1 {
    margin-left: 70px;
    margin-right: 60%;
}


#l1,
#l2,
#l3 {

    font-family: monospace;
    font-size: 20px;
    color: maroon;
}